nav 
    ul 
        li 
            a(href='/home') Home
        li 
            a(href='/contact') Contact
        li 
            a(href='/user') User


nav: ul 
    li: a(href='/home') Home
    li: a(href='/contact') Contact
    li: a(href='/user') User

input(type='radio' name='gender' value='Male')

input(
    type='radio'
    name='gender'
    value='Male'
)

main#container  
    article     
        .article-inner //- créer une div avec une class 'article-inner'
            p. //- Recupere un bloc de text sur plusiseur ligne
                Lorem ipsum 
                dkdikdk 
                lolodd

p 
    Ceci est un texte <strong> en gras </strong>

p 
    Un nouveau texte 
        strong en gras 

div 
    p Je suis dans le paragraphe 
    | Je suis en dehors du paragraphe

h1 Hello #{name}
p Vous avez #{age} et êtes #{gender}

h1 Hello #{name}
p Votre age :
    output=  age 
select
    option(value=gender)=gender

article
    - const {title, author, date}  = post 
    h1= title 
    p written by #{author}
    time(dateTime=date.toIsoString()) = date.toLocalDateString()

article
    - 
        const {title, author, date}  = post; 
        const ISODate = date.toIsoString();
        const formatedDate = date.toLocalDateString();
    h1= title 
    p written by #{author}
    time(dateTime=ISODate) = formatedDate


input(type='text' id='message')
p Hello <span id='messageValue'></span>

script.
    const messageEl = document.getElementById('message')
    const span = document.getElementById('messageValue')
    messageEl.oninput = function(e) {
        span.textContent = e.target.value
    }

if results  
    if results.length > 1
        p Il y'a #{result.length} resultats de recherche 
    else if results.length === 1
        p Il y'a un unique resultat 
    else 
        p Aucun resultat 
else 
    p Aucune recherche effectué

unless user.logged  
    p  Veuillez vous connecté

if !user.logged
    p Veuillez vous connecté

case user.gender 
    when 'M'
        p HOmme 
    when 'F'
        p Femme 
    default 
        p 'Autre'

<!-- gttgtg -->
//-  dfgdd

//- Boucles each
- const users = ['norbert', 'antoine', 'dougy']
ul#users 
    each user in users 
        li #{user} (#{index})

//- Boucle for
ul#user 
    - const users = new Set(['JM', 'antoine', 'Marion']);

    - for (const user of users)
        li= user 

//- Boucle while
- let i = 1;

while i <= 10
    div =i 
    - i++

//- mixin
mixin menuItem 
    li: a(href='#') Menu item 

ul 
    +menuItem 
    +menuItem 

//- Mixin avec arguments
mixin menuItem(url, title) 
    li: a(href='url')= title

ul 
    +menuItem('/', 'Home')
    +menuItem('/contact', 'Contact')
    +menuItem('/portfolio', 'Réalisation')

//- mixin avec plusieurs attribut
mixin listItem(value)
    li&attributes(attributes)= value 

ul  
    +listItem('One')(class='truc')
    +listItem('Two')(class='machin' title='Je suis machin')

//- layout et inclusion
header 
    include menu.pug 
main.container 
    h1 Welcome !

//- -------Fichier menu.pug--------
nav: ul 
    li: a(href='/') Home 
    li: a(href='/contact') Contact

//- frontend-layout.pug
doctype html 
html (lang='fr')
    head 
        meta (charset='utf-8')
        title My layout
        link (rel='stylesheet' href='bootstrap.min.css')
        block styles 
        block scripts 
    body 
        header: nav: ul 
            li: a(href='/') Home 
            li: a(href='/contact') Contact
        block content 

    footer Copyright 2023

//- Exemple utilisation du layout 'frontend-layout.pug'
extends frontend-layout.pug 

block styles 
    link (rel='stylesheet' href='stylepourcettePage.css')

block scripts 
    script(src='monScriptPourcettePage.js')

block content 
    h1 Welcome





 